#searchContainer{

}

#searchInputBox{
    padding: 4px 8px;
    width: 250px;
}

#nearbyPlaceSearchBtn{
    padding: 6px 15px;
    margin-left: 10px;
    background-color: rgb(79, 79, 247);
    color: #ffffff;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
}