.App{
    background-color: #fcfaf5;
    padding: 20px;
    margin: 0px;
}
#applicationHeading{
    text-align: center;
    font-size: 25px;
}
.mainContainer{
    display: flex;
    justify-content: space-around;
    margin: 40px 20px;
    flex-wrap: wrap;
    
}

@media (max-width: 768px){
    .mainContainer{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .App{
        padding: 0px;
    }
}